@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*(with 75% opacity for lightbox background)*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
  }
}
.header__navigation {
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 590px;
  }
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header__menu {
    display: none;
  }
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 125px;
  }
}
.header__cart {
  position: relative;
}
.header__cart--notification {
  display: none;
  background-color: hsl(26deg, 100%, 55%);
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute; /*para poder modificar su posición*/
  top: -7px;
  left: 10px;
  font-size: 0.6em;
  text-align: center;
  font-style: bold;
}
.header__cart:hover {
  cursor: pointer;
}
.header__avatar {
  width: 28px;
}
@media (min-width: 1115px) {
  .header__avatar {
    width: 48px;
  }
}
.header__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}

.navbar {
  display: none;
  width: 400px;
}
.navbar__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
  display: block;
  height: 112px;
  padding-top: 50px;
}
.navbar__link:hover {
  border-bottom: 4px solid hsl(26deg, 100%, 55%);
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.modal-navbar {
  background-color: hsl(0deg, 0%, 100%);
  width: 250px;
  height: 100%;
  padding: 28px 24px;
}
.modal-navbar__background {
  background-color: hsla(0deg, 0%, 0%, 0.719);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-navbar__items {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  list-style: none;
  margin-top: 50px;
}
.modal-navbar__link {
  text-decoration: none;
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
}
.modal-navbar__close-icon:hover {
  cursor: pointer;
}

.gallery__image-container {
  background-image: url("../images/image-product-1.jpg");
  background-size: cover;
  background-position-y: -38px;
  height: 300px;
  width: 100%;
}
.gallery__previous {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 15px;
}
.gallery__previous:hover {
  cursor: pointer;
}
.gallery__next {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 320px;
}
.gallery__next:hover {
  cursor: pointer;
}
.gallery__thumnails {
  display: none;
}
@media (min-width: 1115px) {
  .gallery__thumnails {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.main-container {
  width: 375px;
  border: 1px solid red;
  margin: auto;
  position: relative;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}

/*# sourceMappingURL=styles.css.map */
